[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
tqdm = "*"
dill = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
